header {
    border: 2px solid #6f5d44;
    padding: 20px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ccc5b7;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #6f5d44;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    flex: 1;
}

nav a {
    display: block;
    padding: 14px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: #e5bb89;
    color: #6f5d44;
}

aside {
    flex-direction: column;
    background-color: #ccc5b7;    
    padding: 30px;
    margin-left: 1000px;
}

aside ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

aside li {
    flex-grow: 1;
}

aside a {
    display: flex;
    padding: 14px;
    color: #6f5d44;
    text-align: center;
    text-decoration: none;
}

aside a:hover {
    background-color: #e5bb89;
    color: #6f5d44;
}

main{
    width: 70%;
    margin-left: 300;
    padding: 800;
    text-align: justify;
}

section img {
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.9);
    padding: 300;
}

footer {
    border: 2px solid #6f5d44;
    padding: 20px;    
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

footer li {
    flex: 1;
}

footer a {
    display: block;
    padding: 14px;
    background-color: #6f5d44;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
}

footer a:hover {
    background-color: #e5bb89;
    color: #6f5d44;
}